@import "index.scss";

div#filter-dash{
  background-color: black;
  padding: 0.5vh;
  border-top: 2px solid black;
  position: relative;

  p {
    padding: 1vh auto;
    color: white;
    transition: all .4s ease;

    span {
      margin-left: 1vw;
    }
  }
}

div#filter-dash:hover {
  cursor: pointer;

  p {
    z-index: 1;
    color: $title-green;
  }
}

div#filter-dropdown {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  transition: height .2s ease-out;
}

div.hidden {
  height: 0px;
}

div.visible {
  height: 15vh;
}


