$shadow-grey: rgba(0, 0, 0, .2);
$title-green: rgb(76, 180, 28);
$font-montserrat: 'Montserrat', sans-serif;
$font-noto-sans: 'Noto Sans', sans-serif;

html {
  scroll-behavior: smooth;
}

 :root, body, *{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $font-montserrat,
  $font-noto-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Montserrat', sans-serif;
} 

 p, a{
  font-family: 'Noto Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 900px) {
  body{
    // margin: 0 6vw;
  }
}

@media (min-width: 700px) and (max-width: 899px) {
  body{
    // margin: 0 8vw;
  }
}

@media (max-width: 699px) {
  body{
    // margin: 0 10vw 0;
  }
}
