@import "index.scss";

$modal-height: 50vh;
// $modal-margin-top: calc(50vh - calc(#{$modal-height}/2));
$modal-margin-top: 50vh - $modal-height/2;

/* Modal styling */
div#modal{
  position: absolute;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120%;
  background-color: rgba(0,0,0, .5);

}

div#modal-box{
  margin: 0 auto;
  padding-left: 20px;
  z-index: 3;
  margin-top: $modal-margin-top;
  color: white;
  width: 500px;
  height: $modal-height;
  background-color: #424141;
  border-radius: 10px;

  svg {
    float: right;
    margin: 12px 12px;
  }

  svg:hover {
    cursor: pointer;
  }

  .feather-x-circle {
    stroke: black;
    fill: white;
    transform: scale(1.3);
  }

  div.modal-text {
    display: grid;
    height: 30vh;
  }
}



